html, body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

h1,h2,h3,h4,h5 {
    font-family: 'Playfair Display', serif;
}

h1 { font-size: 64px;}
h2 { font-size: 52px;}
h3 { font-size: 48px;}
h4 { font-size: 32px;}
h5 { font-size: 24px;}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

input {
    color: black;
}

button {
    color: black;
}

.dark-on-light {
    background-color: white;
    color: #5f4389;
}

.light-on-dark {
    background-color: #5f4389;
    color: white;
}

#rsvp-button-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    padding-right: 25px;
    z-index: 1000;
}

#rsvp-button-wrapper a:hover {
    text-decoration: none;
}

#rsvp-button {
    border-radius: 10px;
    padding: 2px 15px 2px 15px;
    transition: color 0.4s ease, background-color 0.4s ease;
}

.rsvp-button-light, .rsvp-button-light a {
    color: #5f4389;
    background-color: white;
}
.rsvp-button-light:hover, .rsvp-button-light a:hover {
    color: white;
    background-color: #5f4389;
}

.rsvp-button-dark {
    border: 1px solid white;
}
.rsvp-button-dark, .rsvp-button-dark a {
    color: white;
    background-color: #5f4389;
}
.rsvp-button-dark:hover, .rsvp-button-dark a:hover {
    color: #5f4389;
    background-color: white;
}


#hero-section {
    height: 100%;
    margin:0;
    padding:0;
}

#banner-image {
    max-height: 100%;
    max-width: 100%;
    padding: 2%;
}

#banner-image-wrapper {
    height: 100%
}

#hero-arrow-button {
    font-size: 50px;
}


section#wedding-details {

}

table#wedding-details-table {
    margin-bottom: 20px;
}

table#wedding-details-table tr td {
    padding-left: 10px;
}

table#wedding-details-table tr {
    vertical-align: top;
}

table#wedding-details-table tr > td,
table#wedding-details-table tr > th {
    padding-bottom: 10px;
}


#wedding-details-image {
 width: 100%;
}

@media(max-width: 768px) {
    section#wedding-details h1,
    table#wedding-details-table
    {
        margin-left: 18px;
        margin-right: 18px;
    }
}

#accommodations-section {
    padding-bottom: 3em;
}

#rsvp-section {
    min-height: 90%;
}

.no-style-list {
    list-style: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: .5em;
}

footer p {
    margin-right: 1em;
    padding-bottom: 0;
}









/* Utility Classes */
.text-white {
    color: white;
}

.text-purple {
    color: #5f4389;
}

.text-lt-purple {
    color: #a668eb;
}

.text-yellow {
    color: #ffee36;
}

.text-small {
    font-size: 14px;
}

.bottom-center {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.animate-bob {
    position: relative;
    top:0;
    animation-name: bob;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes bob {
0% {top: 0}
10% {top: 10px}
20% {top: 0}
100% {top: 0}
}

.mb-5 {
    margin-bottom: 5px;
}

.shadow {
    box-shadow: 0 10px 15px rgba(0,0,0,.2);
}
